<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111311126383-va8eb842jl2ruklhs3ulnva1l0cmtokp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111311126383-va8eb842jl2ruklhs3ulnva1l0cmtokp</string>
	<key>API_KEY</key>
	<string>AIzaSyADPCooqcJ4sOVi-3Evn73tDOCbaMDcc60</string>
	<key>GCM_SENDER_ID</key>
	<string>111311126383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mywarehouseproject</string>
	<key>PROJECT_ID</key>
	<string>my-warehouse-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-warehouse-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111311126383:ios:248b155f5ffa138f7bb29a</string>
	<key>DATABASE_URL</key>
	<string>https://my-warehouse-project.firebaseio.com</string>
</dict>
</plist>